* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/* global styles */



:root {
    /* colors */

    --gradient-colour1: #FFB800;
    --gradient-colour2: #FF8A00;

    --combine-color: #F17228;

    --light-pink: #F172281A;
    --white-color: #FFFFFF;

    --grey-color:#757575;

    /* Typography Scale */

    --font-sm: 16px;
    --font-md: 18px;
    --font-lg: 22px;

    --font-xxl: 88px;

    /* Font Weights */

    --font-regular: 400;
    --font-bold: 700;

    /* spacing-scale */




}




/* Fonts Used*/


@font-face {
    font-family: SourceSansPro;
    src: url("./Fonts/SourceSans3-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url(../Fonts/OpenSans-Regular.ttf);
}


html {
    font-size: var(--font-base);
}

body {
    font-family: Source Sans Pro;
}

/* Topography defaults*/

h1 {
    font-size: var(--font-xxl);
    font-weight: var(--font-bold);
    color: var(--white-color);

}

h4 {
    font-size: var(--font-lg);
    font-weight: var(--font-regular);
    line-height: 1.2;
    color: #504F4F;
}

h5 {
    font-size: var(--font-md);
    font-weight: var(--font-bold);
}


a {
    text-decoration: none;
}

/* component css */

.login-btn {
    padding: 14px 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px 0px #FFAE0042;
    background: linear-gradient(to right, var(--gradient-colour1), var(--gradient-colour2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



/* header section starts here  */

#header-section {
    padding: 16px 0px;
}

.address-container {
    display: flex;
    gap: 8px;
}



.address-container :nth-child(3) {
    font-weight: var(--font-normal);
}

.login-btn span {
    font-size: var(--font-normal);
}


/* header section ends here  */

/* banner section starts here*/

#banner-section {
    height: 70vh;
    background-image: url('../Images/banner.png');
}

.banner-modal {
    box-shadow: 0 20 40 0 #FFAE004A,
        0 5 10 0 #FFAE0042;

    height: 40vh;
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
}

.delivery-btn {
    padding: 10px 24px;
    background-color: #F172281A;
    color: var(--combine-color);
}
.delivery-btn span {
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    border-radius: 8px;
}
.pickup-btn {
    padding: 10px 24px;
    background-color: var(--white-color);
    color: var(--grey-color);
}
.pickup-btn span {
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    border-radius: 8px;
}

/* banner section ends here*/