* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/* global styles */



:root {
    /* colors */

    --gradient-colour1: #FFB800;
    --gradient-colour2: #FF8A00;
    --white-color: #FFFFFF;

    /* Typography Scale */

    --font-base: 16px;
    --font-normal: 18px;
    --font-medium: 22px;

    --font-xxl: 88px;
    /* Font Weights */

    --font-regular: 400;
    --font-bold: 700;

    /* spacing-scale */




}




/* Fonts Used*/


@font-face {
    font-family: SourceSansPro;
    src: url("./Fonts/SourceSans3-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url(../Fonts/OpenSans-Regular.ttf);
}


html{
    font-size: var(--font-base);
}
body {
    font-family: Source Sans Pro;
}

/* Topography defaults*/

h1 {
    font-size: var(--font-xxl);
    font-weight: var(--font-bold);
    color: var(--white-color);

}

h4 {
    font-size: var(--font-normal);
}

h5 {
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
}

/* component css */

.login-btn {
    padding: 14px 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px 0px #FFAE0042;
    background: linear-gradient(to right, var(--gradient-colour1), var(--gradient-colour2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



/* header section starts here  */

#header-section {
    padding: 16px 0px;
} 
.address-container {
    display: flex;
    gap: 8px;
}



.address-container :nth-child(3) {
    font-weight: var(--font-normal);
}

.login-btn span{
    font-size: var(--font-normal);
}


/* header section ends here  */






